---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Notes</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
<style>
	body {
		margin: 0 auto;
	}
	header {
		margin: 0em 0 2em;
		text-align: center;
	}
	h2 {
		margin: 0.5em 0;
	}
	nav {
		display: flex;
		justify-content: center;
		gap: 5rem;
	}
	@media (max-width: 600px) {
		nav {
			
		}
	}
</style>
